
*{
    box-sizing: border-box;
}

.div-txt
{
    height: 97vh;
    width:60%;
    background:linear-gradient(to right,#ff00008a,rgba(241, 159, 7, 0.4)), url(../../pexels-christian-heitz-842711.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 80px;
}

.color-bg
{
    background:#e8b8b8;
    width: 55%;
    height: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}


.h1-set {

    height: 40px;
    text-align: center;
    background:linear-gradient(to right,#ff0000e7,rgb(241, 159, 7));
    margin-bottom: 50px;
    color: transparent;
    -webkit-background-clip: text;
}

.m{
    margin: 10px;
}

.btn{
    background: linear-gradient(to right,#ff00008a,rgba(241, 159, 7, 0.4));
    margin-left: 85px;
    margin-bottom: 30px;
    background-position: fixed;
    height: 40px;
    width: 250px;
    padding-left: 80px;
    padding-top: 6px;
    color: transparent; 
}

.b
{
    border: none;
    border-bottom: 2px solid blue;
    width: 400px;
    background: transparent;
}

button{
    background: none;
    border: none;
    text-align: center;
    font-size: 25px;
    color: #fff;
}